<htmL>
<body>
	<nav class="navbar navbar-expand-sm navbar-dark bg-primary" th:fragment="navFragment">
	  <!-- Brand -->
	  <a class="navbar-brand" href="#">The Worlds Largest Buildings</a>
	
	  <!-- Links -->
	  <ul class="navbar-nav nav-fill w-100">
	    <li class="nav-item">
	      <a class="nav-link" href="/">Home</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="/volume">by Volume</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="/foot">by Footprint</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="/floor">by Floor Area</a>
	    </li>
	  </ul>
	</nav>
</body>
</htmL>