@charset "utf-8";
/* CSS Document */

body {
	font-family: 'Open Sans', sans-serif;
	margin:0; 
	padding:0;
	}

h1, h2, h3, h4, h5, h6{
	font-family:'Montserrat', sans-serif;
	color:maroon;
	}

.container{width:80%;margin:0 auto;}

.navbar {width:100%;}

.navigation {
	height: 70px;
	width: 100%;
	background: #262626;
	font-size: 11pt;
	top: 0;			
}

.navigation ul{
	margin: 0;
	height: 50px;
}

.navigation li{
	display: inline;
}

.navigation a{
	color:#fff;
	display: inline-block;
	width: 100px;
	text-align: center;
	text-decoration: none;
	padding: 24px 0;
	font-weight: 600;
	border-right: 1px solid #2e2e2e;
}

.navigation a:hover{background:#2e2e2e;}

.jumbotron{width:100%;}
