
<!DOCTYPE html>

<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
	<title th:text=${pageTitle}></title>
<!-- Metadata -->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	
	<!-- StyleSheets -->
	<link rel="stylesheet" href="/styles/bootstrap.min.css">
	<link rel="stylesheet" href="/styles/styles.css">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	
	<!-- Online Scripts -->	
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<nav th:replace="layouts/nav :: navFragment"></nav>
	<header class="jumbotron">
		<h1 th:text="${pageTitle}">Dwarf Disney</h1>
		<p th:text="${pageTitle}">This is the homepage for 7 dwarfs</p>
	</header>

	
	
	<div class="alert alert-success" role="alert" th:if="${message}">
	 <p th:text="${message}"></p>
	 </div>
	<div class="container-fluid">
		<div class="container">
		<!-- <p><a href="#" th:href="@{/add}">Add Dwarf</a></p> -->
			<table class="table table-striped">
				<thead>
					<th>Title</th>
					<th>Start</th>
					<th>End</th>
					<th>Venue</th>
					<th>Cost</th>
					<th>Image</th>
					<!-- <th>CRUD</th> -->
				</thead>
				<tbody>
				<tr th:each="event: ${events}">	
						<td th:text = "${event.title}">Title</td>
						<td th:text = "${#dates.format(event.startDate, 'dd/MM/yyyy')}">Start Date</td>
						<td th:text = "${#dates.format(event.endDate, 'dd/MM/yyyy')}">End Date</td>
						<td th:text = "${event.venue}">Venue</td>
						<td th:text = "${event.cost}">Cost</td>
						<td ><img src="" th:src = "${event.image}"/></td>

					</tr>
				</tbody>
			</table>
<!-- 				<p><a href="#" th:href="@{/add}">Add Dwarf</a></p>
 -->		</div>
	
	</div>
	
</body>
</html>