<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
	<link rel="stylesheet" href="css/style.css" />

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<title>Largest Volume</title>
</head>
<body>
		<nav th:replace="layouts/nav :: navFragment"></nav>
		<div class="container fill">
		<table class="table table-striped">
			<thead>
				<th>Name</th>
				<th>Country</th>
				<th>Place</th>
				<th>Floor Area</th>
				<th>Image</th>
				<th>Map</th>
			</thead>
			<tbody>
				<tr th:each="floor: ${floorList}">
					<td th:text="${floor.name}"></td>
					<td th:text="${floor.country}"></td>
					<td th:text="${floor.place}"></td>
					<td th:text="${floor.floorArea}"></td>
					<td><img class="volume-img" th:src="@{/image/}+${floor.image}" /></td>
					<td th:utext="${floor.map}"></td>
				</tr>
			</tbody>
</table>
		
		
		
		
		</div>
</body>
</html>