
<html>
<body>

	<nav class="navbar navbar-expand-md navbar-light" th:fragment="navFragment">

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
	
		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a type="button" href="/" class="btn btn-outline-secondary">Home</a>
				</li>
				<li class="nav-item">
					<a type="button" href="/cereal" class="btn btn-outline-secondary">Cereals</a>
				</li>
				</li>
			</ul>
		</div> 
	</nav>
	
</body>
</html>

