
<!DOCTYPE html>

<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
	<title th:text=${pageTitle}></title>
<!-- Metadata -->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	
	<!-- StyleSheets -->
	<link rel="stylesheet" href="/styles/bootstrap.min.css">
	<link rel="stylesheet" href="/styles/styles.css">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	
	<!-- Online Scripts -->	
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<nav th:replace="layouts/nav :: navFragment"></nav>
	<header class="jumbotron">
		<h1 th:text="${pageTitle}">Dwarf Disney</h1>
		<p th:text="${pageTitle}">This is the homepage for 7 dwarfs</p>
	</header>
	<div class="container">
	<div class="dropdown">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Locations</button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/weather/belfast">Belfast</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="/weather/dublin">Dublin</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="/weather/london">London</a>
  </div>
  
</div>
</div>
</body>
</html>